apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: controller
  labels:
    strimzi.io/cluster: labs-dvn-mini-curso-devops-e-aws-cluster
spec:
  replicas: 1
  roles:
    - controller 
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        class: gp2
        size: 10Gi
        deleteClaim: false
        kraftMetadata: shared