apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: producer
  name: producer
  namespace: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer 
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
      - image: 273444517440.dkr.ecr.us-east-1.amazonaws.com/labs-dvn-repo/strimzi/producer:v2.0
        name: producer 
