---

- name: Install AWS Load Balancer Controller
  gather_facts: false
  hosts: localhost
  vars:
    region: "us-east-1"
    eks_cluster: "labs-dvn-mini-curso-devops-e-aws-eks-cluster"
    aws_account_id: "273444517440" 
    vpcId: "vpc-021e5b80a9908b641" 
  tasks:
    - name: Download IAM Policy
      shell: |
        curl https://raw.githubusercontent.com/kubernetes-sigs/aws-load-balancer-controller/v2.14.1/docs/install/iam_policy.json
      register: iam_policy_json
    - name: Create IAM Policy
      shell: |
        aws iam create-policy \
        --policy-name AWSLoadBalancerControllerIAMPolicy \
        --policy-document '{{ iam_policy_json.stdout }}' 
    - name: Install eksctl
      shell: |
        curl --silent --location "https://github.com/eksctl-io/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
        sudo mv /tmp/eksctl /usr/local/bin
      args:
        executable: /bin/bash
    - name: Setup IRSA
      tags: irsa
      shell: |
        eksctl create iamserviceaccount \
        --cluster={{ eks_cluster }} \
        --namespace=kube-system \
        --name=aws-load-balancer-controller \
        --attach-policy-arn=arn:aws:iam::{{ aws_account_id }}:policy/AWSLoadBalancerControllerIAMPolicy \
        --override-existing-serviceaccounts \
        --region {{ region }} \
        --approve 
    - name: Help repo add
      shell: |
        helm repo add eks https://aws.github.io/eks-charts
        helm repo update eks
    - name: Helm install
      shell: |
        helm install aws-load-balancer-controller eks/aws-load-balancer-controller \
        -n kube-system \
        --set clusterName={{ eks_cluster }} \
        --set serviceAccount.create=false \
        --set region={{ region }} \
        --set vpcId={{ vpcId }} \
        --set serviceAccount.name=aws-load-balancer-controller \
        --version 1.14.0
    